---
layout: home
scripts:
  - /assets/scripts/wizard.js
  - /assets/scripts/home_search.js
---

<!-- main point (manual) -->
<div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
<!-- <section>
  cerca
</section> -->

  <div class="u-layout-prose u-text-r-xl">
    <p class="u-text-r-l  u-textSecondary u-lineHeight-l u-textCenter">
      Accesso Unico: <span class="u-color-70">semplifichiamo l’accesso ai servizi</span> della Pubblica Amministrazione in Umbria
    </p>
  </div>

  <section class="Grid">
    <div class="Grid-cell u-sizeFull u-md-sizeFull u-lg-sizeFull u-text-r-s u-padding-r-all u-textCenter">
      {% include search_form_home.html %}
    </div>
  </section>

  <div class="u-text-r-l u-layout-wide u-padding-r-bottom">

    <!-- <div class="Prose u-background-50"
      style="background:url(/accesso-unico/img/banner_6.png);background-size:contain;background-repeat:no-repeat;background-position-x:right;background-position-y:center"> -->
    <div id="banner-div" class="u-sizeFull Prose u-background-50">
      <p id="banner-text" class="u-padding-all-l u-textWeight-700 u-color-white">Questo portale sviluppato da Regione Umbria in versione Beta è un
      luogo di confronto e di dialogo per costruire insieme i nuovi servizi dell'Accesso Unico.
      </p>
      <img class="u-sm-hidden u-md-hidden u-lg-hidden u-sizeFull" src="{{ site.baseurl }}/img/banner_6a.png">
    </div>

  </div>

  <!-- wizard section -->
  {% include wizard_home.html %}


</div>
<!-- end index.html -->
<!-- add schede for searching purpose -->
<script>
  window.searchschede = {
    {% assign all_schede = site.schede | group_by: 'object' %}

    {% for scheda in all_schede %}
      "{{ scheda.items[0].object | slugify }}": {
        "title": "{{ scheda.items[0].title | xml_escape }}",
        "tema": "{{ scheda.items[0].tema | xml_escape }}",
        "subtitle": "{{ scheda.items[0].subtitle | xml_escape }}",
        "url": "{{ scheda.items[0].url | xml_escape }}",
        "type": "scheda"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };

  window.docs = {
    {% for doc in site.data.docs.docs %}
      "{{ doc.metaname | slugify }}": {
        "title": "{{ doc.title | xml_escape }}",
        "tema": "{{ doc.tema | xml_escape }}",
        "subject": "{{ doc.oggetto | xml_escape }}",
        "category": "{{ doc.categoria | xml_escape }}",
        "year": {{ doc.anno }},
        "ente": "{{ doc.ente | xml_escape }}",
        "number": {{ doc.numero }},
        "url": "{{ doc.url | xml_escape }}",
        "type": "document",
        "tags": [
          {% for tag in doc.tags %}
            "{{ tag  | xml_escape }}"
            {% unless forloop.last %},{% endunless %}
          {% endfor %}
        ]
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  }

  // set banner background image
  $(function() {
    const img_src = baseurl + '/img/banner_6.png'
    console.log('setting bkg img ' + img_src);
    $('#banner-div').css( 'background-image','url(' + img_src + ')' )
  })
</script>
