---
layout: home
---

<!-- main point (manual) -->
<div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">

  <div class="u-layout-prose u-text-r-xl u-padding-r-bottom">
    <p class="u-text-r-xl  u-textSecondary u-lineHeight-l">
      Accesso Unico è il tuo <span class="u-color-70">punto di riferimento per la gestione delle pratiche</span> della Pubblica Amministrazione in  Umbria
    </p>
  </div>

  <section class="Grid">
    <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
      <img src="img/bg-post.jpg" class="u-sizeFull" alt="bg-post" />
    </div>

    <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-s u-padding-r-all">
      <!--<div class="u-text-r-s u-layout-prose">
        <p class="u-textSecondary u-lineHeight-l">
          Lo scopo di Accesso Unico è quello di fornire <span class="u-textWeight-700">informazioni e strumenti utili</span> per conoscere e gestire le vostre pratiche.
          È anche un <span class="u-textWeight-700">luogo di confronto diretto</span> con la
          <span class="u-textWeight-700">Pubblica Amministrazione umbra</span>, dove la tua opinione e il tuo contributo è importante.
          <span class="u-textWeight-700">Siamo in fase Beta</span>, questo vuol dire che, al momento, sono disponibili solo alcune delle sue funzionalità per cittadini e imprese, professionisti intermediari e Pubbliche amministrazioni.
          <br><a href="#" class="u-textWeight-700">Per saperne di più ></a>
        </p>
      </div>-->
      {% include search_form_home.html %}
    </div>

  </section>

  <div class="u-text-r-s u-layout-wide u-padding-r-bottom">
    <p class="Prose u-padding-r-top u-padding-r-bottom">
      Lo scopo di Accesso Unico è quello di fornire <span class="u-textWeight-700">informazioni e strumenti utili</span> per conoscere e gestire le vostre pratiche.
      È anche un <span class="u-textWeight-700">luogo di confronto diretto</span> con la
      <span class="u-textWeight-700">Pubblica Amministrazione umbra</span>, dove la tua opinione e il tuo contributo è importante.
      <span class="u-textWeight-700">Siamo in fase Beta</span>, questo vuol dire che, al momento, sono disponibili solo alcune delle sue funzionalità per cittadini e imprese, professionisti intermediari e Pubbliche amministrazioni.
      <br><a href="#" class="u-textWeight-700">Per saperne di più &gt;</a>
    </p>
  </div>

  <!-- themes section -->
  {% include temi.html %}

  <!-- profile section -->
  {% include profili_home.html %}

  <!-- PA section -->
  {% include pa_home.html %}




</div>
<!-- end index.html -->
