---
layout: page
title: Autem reiciendis
subtitle: Optio voluptatibus sunt quae velit perspiciatis
background: '/img/bg-about.jpg'
---

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quisquam ut perspiciatis, repudiandae nulla animi iste vel, praesentium repellendus molestias aliquid consequatur, earum rem qui error voluptates eius enim consequuntur!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex alias, earum consectetur quia natus ducimus voluptate explicabo, hic porro reprehenderit, quasi? Tenetur ipsum distinctio laboriosam perspiciatis officiis dolore, architecto id.</p>

<h3 class="u-text-h3 u-color-70">voluptatem eligendi laboriosam</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam inventore aspernatur repellendus incidunt adipisci modi voluptates recusandae iste eligendi, repudiandae corporis quod aut, optio! Explicabo quaerat unde voluptatem! Itaque, eum!</p>

{% for scheda in site.schede %}
  <br>titolo: {{ scheda.title }} | oggetto: {{ scheda.object }} | profilo: {{ scheda.utenza }}
{% endfor %}

<hr>

{% assign utenze = site.schede | group_by: 'utenza' %}
{% for utenza in utenze %}
  <h2>{{ utenza.name | capitalize }}</h2>
  <ul>
  {% for item in utenza.items %}
    <li><a href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

<hr>

{% assign schede = site.schede | group_by: 'title' %}
{% for scheda in schede %}
  <h2>{{ scheda.name | capitalize }}</h2>
  <ul>
  {% for item in scheda.items %}
    <li><a href="{{site.baseurl}}{{ item.url }}">{{ item.utenza }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

<hr>

{% assign temi = site.schede | group_by: 'tema' %}
{% for tema in temi %}
  <h2>{{ tema.name | capitalize }}</h2>
  <ul>
    {% for item in tema.items %}
      <!-- limit to one utenza -->
      {% if item.utenza == "cittadini" %}
        <li><a href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
</ul>
{% endfor %}
