<!-- <div class="u-border-top-xs u-border-bottom-xs u-color-50" id="myTabContent">
        {% for scheda in site.schedas limit:4  %}
            {{ scheda.title }}
        {% endfor %}
</div> -->

<div class="u-layout-centerContent">
    <section class="u-layout-wide u-padding-top-xxl u-padding-bottom-xxl">
        <h2 class="u-text-r-l u-padding-r-bottom">Servizi</h2>

        <div class="Grid Grid--withGutter">

            {% assign citizen-schede = site.schede | where:"utenza", "cittadini"%}
            {% for scheda in citizen-schede limit:4  %}
            <div class="Grid-cell u-md-size1of4 u-lg-size1of4">
                    <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
                        <p class="u-padding-r-bottom">
                            <span class="u-background-70"></span>
                            {% for category_metaname in scheda.tema %}
                            <!-- get category name -->
                            {% for item in site.data.themes %}
                                {% if item.metaname == category_metaname %}
                                    {% assign category_name = item.name %}
                                {% endif %}
                            {% endfor %}
                            <div class="home-servizio-div">
                                <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="{{site.baseurl}}/schede_search?theme={{category_metaname|escape}}">
                                    <img title="{{ category_name | capitalize }}" class="home-servizio-category-icon" src="{{ site.baseurl}}{{ site.iconsurl }}rosso_{{ category_metaname }}.png">
                                    <div class="home-servizio-category-text">{{category_name}}</div>
                                </a>
                            </div>
                            {% unless forloop.last %}&nbsp;{% endunless %}
                            {% endfor %}
                        </p>
                        <div class="anteprima-scheda-title">
                            <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black"
                                    href="{{site.baseurl}}{{ scheda.url }}">
                                    {{ scheda.title }}
                                </a>
                            </h3>
                        </div>
                        <div class="anteprima-scheda-description">
                            <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
                                {% include schede/{{scheda.object}}/description/{{scheda.utenza}}.md %}
                            </p>
                        </div>
                    </div>
    
            </div>
            {% endfor %}

        </div>

        <p class="u-textCenter u-text-md-right u-text-lg-right u-padding-r-top">
            <a href="{{site.baseurl}}/schede_search" class="u-color-50 u-textClean u-text-h4">
                tutti i servizi<span class="Icon Icon-chevron-right"></span></a>
        </p>

    </section>
</div>
