<style>.embed-container {position: relative; padding-bottom: 80%; height:=
 0;
max-width: 100%;} .embed-container iframe, .embed-container object,
.embed-container iframe{position: absolute; top: 0; left: 0; width: 100%;
height: 100%;} small{position: absolute; z-index: 40; bottom: 0;
margin-bottom: -15px;}</style><div class= "embed-container"><iframe
width= "500" height= "400" frameborder= "0" scrolling= "no" marginhei=
ght= "0"
marginwidth= "0" title= "SUAPE e Piani regolatori: Dati Comunali"
src= "https://imsva91-ctp.trendmicro.com:443/wis/clicktime/v1/query?ur=
l= www.arcgis.com%2fapps%2fEmbed%2findex.html%3fwebmap% 6f8a55591d55405=
093b4132eb&umid= 18EF21E1-7404-6C05-B35B-1532EB2AE2D7&auth= a426499f51d=
7e62a61cb1149960a1aaf914edb98-779918334f2b00997e072d17f86876c15dab3f46
ff51322&extent= 10.6436,42.09,14.7003,43.9018&zoom= true&previewImage=
= false&sc
ale= true&disable_scroll= true&theme= light"></iframe></div>
