<div class="u-text-r-s u-layout-wide">
  <div class="u-color-white u-border-top-xxs u-border-bottom-xxs">

    <form class="Form Form--spaced u-color-40 u-text-r-xs u-layout-prose">

      <fieldset class="Form-fieldset">
<!--
        <legend class="Form-legend">Scegli il comune</legend>
-->
{% assign theme_items = site.data.themes | where_exp: "item", "item.metaname == page.tema" %}
{% assign theme_item = theme_items[0] %}

        <div class="Form-field" style="padding-bottom:0 !important">
          <select class="Form-input" id="documenti" aria-required="true" required>
            <option disabled selected>seleziona</option>
            <option value="{{ site.baseurl }}/docs_search?tags={{page.object | downcase}}">{{page.title | capitalize}}</option>
            <option value="{{ site.baseurl }}/docs_search?theme={{page.tema | downcase}}">{{theme_item.name | capitalize}}</option>
          </select>
        </div>

      </fieldset>        

    </form>
  </div>
</div>

<div>
    {% assign docs_array = "" | split: ',' %}
    
  <ul>
  {% for doc in site.data.docs.docs %}      
    {% for tag in doc.tags %}
      {% assign downcasetag = tag | downcase %}
      {% if downcasetag == page.object %}        
        {% assign docs_array = docs_array | push: doc %}
        {%- break -%}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>

  <ul>
  {% for doc in site.data.docs.docs %}
    {% if doc.tema == page.tema %}
      {% assign docs_array = docs_array | push: doc %}
    {% endif %}
  {% endfor %}
  </ul>

  <ul>
  {% for doc in docs_array | uniq: 'title' %}      
    <li><a target="_blank" href="{{ doc.url }}">{{ doc.title }}</a></li>
  {% endfor %}
  </ul>
</div>

<script>
  $('#documenti').on('change', function(event) {
    console.log( 'selected ' + $(this).val() );
    //$('#gobutton').attr( 'href', $(this).val() );
    window.location.href = $(this).val()
  });
</script>
