<button id="praticheBtn" class="Button Button--default js-fr-dialogmodal-open u-hidden" aria-controls="modal-pratiche">
  Apri
</button>
<div class="Dialog js-fr-dialogmodal" id="modal-pratiche">
    <div class="
      u-popupResponsive
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    " aria-labelledby="modal-title">
        <div role="document" class="Prose">
          <p>{{ site.popup_pratiche_text }}</p>
          <img class="u-popupImgResponsive" src="{{ site.baseurl }}/assets/images/popups/pratiche.png">
            <!--<button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>-->
        </div>
    </div>
</div>



<button id="preferitiBtn" class="Button Button--default js-fr-dialogmodal-open u-hidden" aria-controls="modal-preferiti">
  Apri
</button>
<div class="Dialog js-fr-dialogmodal" id="modal-preferiti">
    <div class="
      u-popupResponsive
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    " aria-labelledby="modal-title">
        <div role="document" class="Prose">
          <p>{{ site.popup_preferiti_text }}</p>
            <img class="u-popupImgResponsive" src="{{ site.baseurl }}/assets/images/popups/preferiti.png">
            <!--<button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>-->
        </div>
    </div>
</div>



<button id="forumBtn" class="Button Button--default js-fr-dialogmodal-open u-hidden" aria-controls="modal-forum">
  Apri
</button>
<div class="Dialog js-fr-dialogmodal" id="modal-forum">
    <div class="
      u-popupResponsive
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    " aria-labelledby="modal-title">
        <div role="document" class="Prose">
          <p>{{ site.popup_forum_text }}</p>
            <img class="u-popupImgResponsive" src="{{ site.baseurl }}/assets/images/popups/forum.png">
            <!--<button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>-->
        </div>
    </div>
</div>



<button id="aggiornamentiBtn" class="Button Button--default js-fr-dialogmodal-open u-hidden" aria-controls="modal-updates">
  Apri
</button>
<div class="Dialog js-fr-dialogmodal" id="modal-updates">
    <div class="
      u-popupResponsive
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    " aria-labelledby="modal-title">
        <div role="document" class="Prose">
          <p>{{ site.popup_aggiornamenti_text }}</p>
            <img class="u-popupImgResponsive" src="{{ site.baseurl }}/assets/images/popups/aggiornamenti.png">
            <!--<button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>-->
        </div>
    </div>
</div>
