<!-- add contacts widget -->
<div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-50 u-background-white u-margin-bottom-xl">
    <div class="u-text-r-l u-padding-r-all u-layout-prose">
      <p class="u-text-h6 u-margin-bottom-l">
        <span class="u-color-50">
          Riferimenti e contatti    
        </span>
      </p>
        <!-- direzione table -->
        <table class="Table Table--withBorder Table--compact u-text-r-xxs">
            <caption class="u-hiddenVisually">deleniti doloribus vel</caption>
            <thead>
                <tr class="u-border-bottom-xs">
                    <th scope="col">Direzione</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ page.descrizione_direzione }}</td>
                </tr>
            </tbody>
        </table>
        <!-- servizio table -->
        <table class="Table Table--withBorder Table--compact u-text-r-xxs u-margin-top-s">
                <caption class="u-hiddenVisually">deleniti doloribus vel</caption>
                <thead>
                    <tr class="u-border-bottom-xs">
                        <th scope="col">{{ page.nome_ufficio }}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Indirizzo</b></td>
                        <td>{{ page.indirizzo }}</td>
                    </tr>
                    <tr>
                        <td><b>Telefono</b></td>
                        <td>{{ page.telefono }}</td>
                    </tr>
                    <tr>
                        <td><b>E-Mail</b></td>
                        <td>{{ page.email }}</td>
                    </tr>
                    <tr>
                        <td><b>PEC</b></td>
                        <td>{{ page.pec }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- responsabile table -->
            <table class="Table Table--withBorder Table--compact u-text-r-xxs u-margin-top-s">
                <caption class="u-hiddenVisually">deleniti doloribus vel</caption>
                <thead>
                    <tr class="u-border-bottom-xs">
                        <th scope="col">Responsabile</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Nome</b></td>
                        <td>{{ page.nome_responsabile }}</td>
                    </tr>
                    <tr>
                        <td><b>Telefono</b></td>
                        <td>{{ page.telefono_responsabile }}</td>
                    </tr>
                    <tr>
                        <td><b>E-Mail</b></td>
                        <td>{{ page.email_responsabile }}</td>
                    </tr>
                </tbody>
            </table>
    </div>
  </div>
  