{% if include.scheda_theme %}
<div class="scheda-listing {{ scheda_object.type }}">
  <div class="u-sizeFull">
    <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
      <section class="Grid">
        <div class="Grid-cell u-sizeFull u-sm-size3of4 u-md-size3of4 u-lg-size3of4 u-margin-r-bottom">
          <h4 class="u-text-h4">{{ scheda_object.items[0].title | capitalize }}<h4>
        </div>
        <div class="Grid-cell u-sizeFull u-sm-size1of4 u-md-size1of4 u-lg-size1of4 u-margin-r-bottom">
          <ul class="Linklist Prose u-text-r-xs">
            {% for scheda in scheda_object.items %}
              <li>
                <a href="{{site.baseurl}}{{ scheda.url }}">{{ scheda.utenza }} <span class="Icon Icon-chevron-right"></span></a>
              </li>
              {% endfor %}
          </ul>
        </div>
      </section>
      {% if scheda_object.type %}
      <p>
        <a
          class="u-textClean u-text-xs u-color-white scheda-type-{{ scheda_object.type | downcase }} scheda-listing-tag"
          href="#">
          {{ scheda_object.type | upcase }}
        </a>
      </p>
      {% endif %}
    </div>
  </div>
</div> <!-- / .scheda -->
{% endif%}

{% if include.scheda_profile %}
<!-- add theme name class in order to filter scheda hiding them -->
<div class="scheda-listing {{ scheda_object.tema | lowcase }}">
  <div class="u-sizeFull">
    <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
      <section class="Grid">
        <div class="Grid-cell u-sizeFull u-sm-size3of4 u-md-size3of4 u-lg-size3of4 u-margin-r-bottom">
          <h4 class="u-text-h4">
            <a class="u-color-50" href="{{site.baseurl}}{{ scheda_object.url }}">{{ scheda_object.title | capitalize }}</a>
          <h4>
          <p class="Prose u-layout-prose">{{ scheda_object.subtitle }}</p>
        </div>
      </section>
      <p>
        <a
          class="u-textClean u-text-xs u-color-white theme-{{ scheda_object.tema | downcase }} scheda-listing-tag"
          href="{{site.baseurl}}/temi/{{ scheda_object.tema | downcase }}">
          {{ scheda_object.tema | upcase }}
        </a>
      </p>
    </div>
  </div>
</div> <!-- / .scheda -->
{% endif%}
