<div id="login-mask" style="position:absolute; right:0; top:5px;" class="{{ include.class }} u-color-white">
  <div style="text-align:right">
    <div class="" style="display: inline-block; position:relative; top:-5px;">ACCEDI</div>
    <div class="" style="display: inline-block; position:relative; top:5px;">
      <img style="max-width: 35px;" src="/accesso-unico/assets/images/icons/rosso_cittadini.png" class="scheda-icona">
   </div>
 </div>
  <ul id="users-list">
    <li>Demo accesso utente privato</li>
    <li>Demo accesso utente PA</li>
  </ul>
</div>

<!-- <div id="login-mask" style="position:relative; top:-12px;" class="{{ include.class }} u-color-white">
  <ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
    <li><a href="#">Servizi</a>
      <ul data-megamenu-class="u-md-size1of2">
        <li><a href="page--servizi.html#ambiente">Ambiente</a></li>
        <li><a href="page--servizi.html#casa">Casa</a></li>
      </ul>
  </ul>
</div> -->
