<div id="login-mask" class="{{ include.class }} u-color-white">
    <div class="" style="display: inline-block;top: -9px;position: relative;">ACCEDI</div>
    <div class="" style="display: inline-block;">
      <img style="max-width: 35px;" src="/accesso-unico/assets/images/icons/rosso_cittadini.png" class="scheda-icona">
   </div>
</div>

<div id="logout-mask" class="{{ include.class }} u-color-white">
    <div class="" style="display: inline-block;top: -9px;position: relative;">Buongiorno, Mario Rossi</div>
    <div class="" style="display: inline-block;">
      <img style="max-width: 35px;" src="/accesso-unico/assets/images/icons/rosso_cittadini.png" class="scheda-icona">
   </div>
</div>
