<div class="u-text-r-s u-layout-wide">
  <div class="u-color-white u-border-top-xxs u-border-bottom-xxs">

    <form class="Form Form--spaced u-color-40 u-text-r-xs u-layout-prose">

      <fieldset class="Form-fieldset">
<!--
        <legend class="Form-legend">Scegli il comune</legend>
-->
        <div class="Form-field" style="padding-bottom:0 !important">
          <select class="Form-input" id="modulistica" aria-required="true" required>
            <option disabled selected>seleziona</option>
            <option value="https://serviziinrete.regione.umbria.it/lc/content/dam/formsanddocuments/01212820540_Caccia/pagamento_tassa_regionale/jcr:content?wcmmode=disabled&dataRef=http%3A%2F%2Flocalhost%3A8080%2Frest%2Fservices%2FModulisticaOnline%2FGetForm%2FPrecompiledData%3Fin_string_formid%3Dpagamento_tassa_regionale%26in_string_extensions%3DAF%26in_int_id_dipartimento%3D4%26in_int_id_ente%3D1%26in_xml_data%3D%26in_string_pathdata%3D">Anagrafica regionale dei cacciatori</option>
            <option value="https://pagoumbria.regione.umbria.it/pagoumbria/addon/caccia/edit.jsf?m=4&idEnte=33ED3E1B55346CBB0001">pagoumbria/Pagopa</option>

          </select>
        </div>

      </fieldset>
<!--
        <div class="Form-field Grid-cell u-textLeft" style="padding-bottom: 0px !important;">
          <a id="gobutton" type="button" href="#" target="_blank"
            class="Button u-text-xs u-background-50 u-color-white u-sizeFull"
            style="max-width:15em;">Vai al servizio</a>
        </div>

-->
    </form>
  </div>
</div>

<script>
  $('#modulistica').on('change', function(event) {
    console.log( 'selected ' + $(this).val() );
    //$('#gobutton').attr( 'href', $(this).val() );
    window.location.href = $(this).val()
  });
</script>
