<ul class="wizard-tab" id="wizardTab">

  <li class="wizard-item">
    <a class="wizard-link active u-text-h2 u-color-grey-40" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
      Profili
    </a>
    <a class="wizard-link u-text-h2 u-color-grey-40" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="true">
      Temi
    </a>
  </li>

</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane p-3 fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
    <!-- {{profile.name}} section-->
    <section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-size1of4">
          <img src="{{ site.baseurl }}/assets/images/citizen.jpg" class="u-imgResponsive" alt="profili" />
        </div>
        <div class="Grid-cell u-size3of4 u-padding-r-all">
          <ul class="Linklist Prose u-text-r-xs">
            <!--{% for profile in site.data.profiles %}
            <li><div class="profile-item">{{ profile.name }}</div></li>
            {% endfor %}-->
          </ul>
        </div>
        <div class="Grid-cell u-padding-r-all">
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Breve testo che spiega i Benefit relativi alle sue domande, con link alle sezioni interessate. In questo caso la parte di schede dettagliate, potremmo inserire qui il cerca o i tre link “demo”, link alla parte di feedback.
          </p>
        </div>
      </div>
    </section>
  </div>

  <div class="tab-pane p-3 fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
    <section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-size1of4">
          <img src="{{ site.baseurl }}/assets/images/pa.jpg" class="u-imgResponsive" alt="temi" />
        </div>
        <div class="Grid-cell u-size3of4 u-padding-r-all">
          <ul class="Linklist Prose u-text-r-xs">
            {% for theme in site.data.themes %}
            <li><div class="theme-item">{{ theme.name }}</div></li>
            {% endfor %}
          </ul>
        </div>
        <div class="Grid-cell u-padding-r-all">
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Breve testo che spiega i Benefit relativi alle sue domande, con link alle sezioni interessate. In questo caso la parte di schede dettagliate, potremmo inserire qui il cerca o i tre link “demo”, link alla parte di feedback.
          </p>
        </div>
      </div>
    </section>
  </div>

</div>

<script>
  window.profiles = {
    {% for profile in site.data.profiles %}
      "{{ profile.metaname }}": {
        "name": "{{ profile.name | xml_escape }}",
        "image": "{{ profile.image | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
  window.themes = {
    {% for theme in site.data.themes %}
      "{{ theme.metaname }}": {
        "name": "{{ theme.name | xml_escape }}",
        "image": "{{ theme.image | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
