<div class="u-margin-bottom-s u-text-m">
  <div class="u-margin-bottom-m u-color-50">Accesso ai servizi</div>
  <div class="">Il catalogo dei servizi è stato progettato pensando ai diversi tipi di utenza e si adatta alla scelta fatta</div>
</div>
<div class="u-border-top-xs u-border-bottom-xs u-color-50" id="myTabContent">

  <div class="tab-pane p-3 fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
    <section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-top-xxl u-padding-bottom-xxl u-padding-left-l u-padding-right-l">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-size1of3">
          <div class="Prose u-padding-r-top u-padding-r-bottom">
            <p class="u-textWeight-600"><i>scegli il profilo in cui ti riconosci >> </i></p>
            <p><i>ti verrà restituito un elenco di argomenti filtrato in base ai tuoi argomenti</i></p>
          </div>
        </div>
        <div class="Grid-cell u-size2of3 u-padding-r-all">
          <ul id="wizard-profile-list" class="Prose u-text-r-xs u-floatRight"></ul>
        </div>
      </div>
    </section>
  </div>

  <div class="tab-pane p-3 fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
    <section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-top-xxl u-padding-bottom-xxl u-padding-left-l u-padding-right-l">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-size1of3">
          <div class="Prose u-padding-r-top u-padding-r-bottom">
            <p class="u-textWeight-600"><i>seleziona l’argomento di tuo interesse >> </i></p>
            <p><i>ogni servizio scelto tra quelli che ti verranno proposti fornisce informazioni adeguate alle tue carateristiche</i></p>
          </div>
        </div>
        <div class="Grid-cell u-size2of3 u-padding-r-all">
          <ul id="wizard-theme-list" class="Prose u-text-r-xs u-floatRight"></ul>
        </div>
        <div class="Grid-cell u-padding-r-all">
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Breve testo che spiega i Benefit relativi alle sue domande, con link alle sezioni interessate. In questo caso la parte di schede dettagliate, potremmo inserire qui il cerca o i tre link “demo”, link alla parte di feedback.
          </p>
        </div>
      </div>
    </section>
  </div>

</div>

<script>
  /* get all profiles from data file */
  /*window.allprofiles = {
    {% for profile in site.data.profiles %}
      "{{ profile.metaname }}": {
        "name": "{{ profile.name | xml_escape }}",
        "image": "{{ profile.image | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };*/
  /* get all themes from data file */
  /*window.allthemes = {
    {% for theme in site.data.themes %}
      "{{ theme.metaname }}": {
        "name": "{{ theme.name | xml_escape }}",
        "image": "{{ theme.image | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };*/

  /* get all profiles from schede */
  window.allprofiles = {
    {% assign profiles = site.schede | group_by: 'utenza' | sort: 'name' %}
    {% for profile in profiles %}
      {% assign profile_items = site.data.profiles | where_exp: "item", "item.metaname == profile.name" %}
      {% assign user = profile_items[0] %}
        "{{ user.metaname }}": {
          "name": "{{ user.name | xml_escape }}",
          "image": "{{ user.image | xml_escape }}"
        }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
  /* get all themes from schede */
  window.allthemes = {
    {% assign themes = site.schede | group_by: 'tema' | sort: 'name' %}
    {% for tema in themes %}
      {% assign tema_items = site.data.themes | where_exp: "item", "item.metaname == tema.name" %}
      {% assign theme = tema_items[0] %}
        "{{ theme.metaname }}": {
          "name": "{{ theme.name | xml_escape }}",
          "image": "{{ theme.image | xml_escape }}"
        }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };

  window.themes = window.allthemes;
  window.profiles = window.allprofiles;
  window.profile = '';
  window.theme = '';
  window.baseurl = '{{ site.baseurl }}';

  window.schede = {
    {% assign profiles = site.schede | group_by: 'utenza' | sort: 'name' %}
    {% for profile in profiles %}
      "{{ profile.name }}": {
      {% assign schede_per_tema = profile.items | group_by: 'tema' | sort: 'name' %}
      {% for tema in schede_per_tema %}
        {% assign tema_items = site.data.themes | where_exp: "item", "item.metaname == tema.name" %}
        {% assign theme = tema_items[0] %}
          "{{ theme.metaname }}": {
            "name": "{{ theme.name | xml_escape }}",
            "image": "{{ theme.image | xml_escape }}"
          }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
    ,

    {% assign themes = site.schede | group_by: 'tema' | sort: 'name' %}
    {% for theme in themes %}
      "{{ theme.name }}": {
      {% assign schede_per_profile = theme.items | group_by: 'utenza' | sort: 'name' %}
      {% for profile in schede_per_profile %}
        {% assign profile_items = site.data.profiles | where_exp: "item", "item.metaname == profile.name" %}
        {% assign profilo = profile_items[0] %}
          "{{ profilo.metaname }}": {
            "name": "{{ profilo.name | xml_escape }}",
            "image": "{{ profilo.image | xml_escape }}"
          }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  }

</script>
