.t-Pac #login-div, .t-Pac #logout-div {display: none}
.t-Pac #header-login-container, .t-Pac #header-logout-container {display: none}
.t-Pac .user-name-mobile {color: #fff;padding: 15px;font-weight: 700;}

@media(min-width: 992px) {
  .t-Pac #login-div, .t-Pac #logout-div {display: inline-block}
  .t-Pac #header-login-container {display:block; position:absolute; right:20px; top:15px;}
  .t-Pac #header-logout-container {display:block}
}

/* user popups */
.t-Pac .u-popupResponsive {margin: 0 !important; width: 100%}
.t-Pac .u-popupImgResponsive {max-width: 100%}
@media(min-width: 810px) {
  .t-Pac .u-popupResponsive {margin: 32px !important; width: unset}
}

/* change menu colors */
.t-Pac .Megamenu--default{background-color:#ffffff;}
.t-Pac .Megamenu--default .Megamenu-item > a{color:#9F383B !important; font-weight: 200 !important;}
/* underline menu */
.t-Pac .Megamenu-item a.is-selected {border-bottom: 2px solid #65dde0;}
/* home page pictures*/
.t-Pac .u-imgResponsive{display: block;height: auto;max-width: 100%;}
/* home page search */
.t-Pac #home-search-btn, .t-Pac #schede-search-btn, .t-Pac #schede-reset-btn, .t-Pac #research {border:0 !important}
.t-Pac .js-fr-dialogmodal-close {border:0 !important}
.t-Pac .search-listing {max-height:450px;overflow-y:auto;}
.t-Pac #results-div {display:none}
.t-Pac #no-results-div {display:none}
.t-Pac .servizio-icon {max-height:35px}

/* responsive utils */
.t-Pac .no-mobile {display: none !important}
@media(min-width: 768px) {
  .t-Pac .no-mobile {display: block !important}
}

/* title, subtitle */
.t-Pac h1.u-text-h1, .t-Pac h4.u-text-h4 {margin-bottom: 0 !important}

/* enable list style in article tags */
.t-Pac article ul {list-style: inherit !important;margin:1em}
.t-Pac article ol {list-style: decimal !important;margin:1em}

/* home banner */
/* .t-Pac #banner-text {font-size:1.3em !important} */
@media(min-width: 768px) {
  .t-Pac #banner-div {min-height:250px;background-size:contain;background-repeat:no-repeat;background-position-x:right;background-position-y:center}
}
/* search schede */
.t-Pac #new-search-btn {border:0 !important; display: none}
.t-Pac #new-search-btn .Icon-search {padding: 5px 15px 5px 15px}
.t-Pac .go-servizio-btn {border:1px solid; border-radius:0 0 5px 5px; position:absolute; bottom:0; left:0;font-size: 1.5rem}
/* .t-Pac .go-servizio-btn:hover {background-color:#9c2328 !important;color:#fff !important} */
.t-Pac .servizio-icons {display: none}
.t-Pac .servizio-btn-container {position:relative;}
.t-Pac .servizio-box {min-height:350px}
.t-Pac .icon-search-results {max-width:35px;position: relative;top: 7px}
.t-Pac .scheda-title-label {font-size: 12px;position: relative;top: -10px;left: 5px;}
.t-Pac h1 .scheda-title-label {font-size: 17px;position: relative;top: -30px;left: 5px;}
.t-Pac .tipologia-icon {max-width: 45px;top:13px;left:-10px}
@media(min-width: 301px) {
  .t-Pac .servizio-icons {position:absolute; display: block; bottom:35px}
}
@media(min-width: 350px) {
  .t-Pac .go-servizio-btn {font-size: 2rem}
  .t-Pac .servizio-icons {bottom:50px}
}


.t-Pac .scheda-icona {max-width: 45px;margin-right: 10px;}
.t-Pac .Callout--example {background: #ffffff;border-top-color: #9c2328}
.t-Pac .Callout {padding-bottom: 8px;}
.t-Pac .Callout {padding-left: 0;}
.t-Pac .Callout {padding-right: 0;}
.t-Pac .Callout {padding-top: 5px;}
/* .t-Pac #tue-scelte {margin-bottom: 100px} */
/* .t-Pac #scheda-icons-div  */

/* define links' color */
.t-Pac #main a {color:rgb(48, 55, 61)}

/* header */
.t-Pac .beta-label {font-size: 12px;position: relative;top: -10px;left: -3px;}
/* handle login mask*/
.t-Pac #login-div > img {height:12px}
.t-Pac .Headroom--fixed.Headroom--not-top .Headroom-showme {max-height: 5em}
.t-Pac .Headroom-showme {max-height:0; overflow-y:hidden;}
.t-Pac .Header-login, .t-Pac #logout-icon {cursor: pointer;}
.t-Pac .login-mask, .t-Pac .logout-mask {display: none}
.t-Pac #users-list {display: none;  background-color: #30373d;padding: 10px;border-radius: 10px;}
.t-Pac #users-list li {padding-bottom: 5px;color: #65dde0;font-weight: 600;}
.t-Pac #users-list li:hover {color: #fff;}
/* handle login menu entries */
.t-Pac .Linklist li[data-megamenu-class~="only-loggedin"] {display: none !important} /* display again with removing only-loggedin attibute */

.t-Pac .u-iconPartecipa {display:none}
@media(min-width: 390px) {
  .t-Pac .u-iconPartecipa {position:absolute;display:block;width:65px;top: -60px;right: -18px;}
}
@media(min-width: 992px) {
  .t-Pac .u-iconPartecipa { width:50px;top: -40px;right: -18px;}
}
@media(min-width: 1187px) {
  .t-Pac .u-iconPartecipa { width:55px;top: -80px;right: -21px;}
}
@media(min-width: 1290px) {
  .t-Pac .u-iconPartecipa { width:75px;top: -91px;right: -18px;}


/* footer */
.t-Pac .Footer-socialIcons [class*=" Icon-"]{color:#30373d}
.t-Pac .ScrollTop {background-color:#30373d !important}

/* modifica entry menu 4 livello */
.Megamenu--default .Megamenu-subnavGroup > li > ul > li > ul > li > a {margin-left:10px !important; font-style: italic !important;}

/* wizard */
.t-Pac .profile, .t-Pac .theme {max-width:140px}
.t-Pac .wizard-item img {max-width: 75px}

/* define themes colors */
.t-Pac .theme-yellow, .t-Pac .theme-agricoltura {color:#fec401 !important}
.t-Pac .theme-green .t-Pac .theme-ambiente {color:#a9a937 !important}
.t-Pac .theme-orange, .t-Pac .theme-turismo {color:#fe9001 !important}
.t-Pac .theme-lightblue, .t-Pac .theme-diritti {color:#88c2cf !important}
.t-Pac .theme-blue, .t-Pac .theme-artigianato {color:#78bbb1 !important}
.t-Pac .theme-lightpurple, .t-Pac .theme-lavoro {color:#e68cb0 !important}
.t-Pac .theme-grey, .t-Pac .theme-infrastrutture {color:#9fa8b0 !important}
.t-Pac .theme-pink, .t-Pac .theme-salute {color:#ef9ea2 !important}
.t-Pac .theme-purple, .t-Pac .theme-edilizia {color:#d0a0d0 !important}
.t-Pac .theme-pink, .t-Pac .theme-utilita {color:#ef9ea2 !important}

.t-Pac .scheda-listing {margin: 1.2rem;border: 1px solid gray;border-radius: 5px;}
.t-Pac .scheda-listing-tag {border:1px solid;padding-left: 0.3rem;padding-right: 0.3rem}
.t-Pac .scheda-listing a {text-decoration: none;}
.t-Pac .scheda-listing.imprese, .t-Pac .scheda-listing.intermediari {display: none;}

.t-Pac .page-img-div { max-height:250px; margin-top:20px; margin-bottom: 20px; overflow: hidden;}
.t-Pac .page-img { max-width: 100%;}
.t-Pac #page-content img {max-width: 100%;}

/* tabs */
.t-Pac #tab2 {display:none;}
.t-Pac .wizard-link:not(.active) {cursor: pointer;}
.t-Pac .wizard-link.active {border-bottom: 4px solid #9c2328; color:#5a6772 !important;}
.t-Pac .wizard-item {cursor: pointer;}
.t-Pac #wizardTabList {list-style-type: none; overflow: hidden; float: right;}
.t-Pac .wizard-tab-item {float:left; margin-right: 10px;}
.t-Pac #wizard-profile-list li {float: left; margin: 10px;}
.t-Pac #wizard-theme-list li {float: left; margin: 10px;}

.t-Pac .nav-tabs .nav-item {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.t-Pac .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 5px solid #06c;
    color: #06c;
    cursor: inherit;
}

/* schede listing */
.t-Pac #label-list {height: 20px;}
.t-Pac #label-list li {float: left; margin-right: 5px;}

/* document search */
.t-Pac #result-section {display:none;}
.t-Pac #result-section a {text-decoration: none;}
.t-Pac .single-doc .object {margin-top: 0.5em;margin-bottom: 0.5em;}
.t-Pac .docs-box {position:relative}
/* redefine our content width */
.t-Pac .u-layout-prose {max-width: 40em !important}
.t-Pac .pointer {cursor: pointer !important}

/* poll */
.t-Pac .poll-img {width: 3.5em}

/* increment dialog mask z-index to cover header */
.t-Pac .fr-dialogmodal--is-ready {z-index: 50}

/* grigio scuro
.t-Pac .Header-banner{background-color:#333333;}
.t-Pac .Header-languages{background-color:#333333;}
.t-Pac .ScrollTop{background-color:#333333!important;}
.t-Pac .is-focus{color:#333333!important;}
/* rosso mattone
.t-Pac .Header-navbar{background-color:#B3292E;}
.t-Pac .Header-searchTrigger button{background-color:#B3292E;}

.t-Pac .Entrypoint-item{background-color:#B3292E!important;}
.t-Pac .Header-socialIcons [class*=" Icon-"]{color:#B3292E;}
.t-Pac .u-color-50{color:#B3292E!important;}
.t-Pac .u-color-70{color:#B3292E!important;}
.t-Pac .u-background-50{background-color:#B3292E!important;}
/* grigio medio
.t-Pac .u-background-70{background-color:#666666!important;}
.t-Pac .u-background-95{background-color:#666666!important;}
/* grigio chiaro
.t-Pac .Offcanvas-toggleContainer{background-color:#A8A8A8;}

/* azzurro
.t-Pac .Footer-socialIcons [class*=" Icon-"]{background-color:#65dcdf;color:#666666;}

/* blue link
.t-Pac h3 .u-color-black{color:#06c!important;}
.t-Pac .LinkList a{color:#06c!important;}
.t-Pac .Leads-link.u-color-black{color:#06c!important;}

/* altro
.t-Pac .Header-titleLink a{font-size:2.6rem!important;}
.t-Pac .Footer-logo{padding-right:0px!important;}
*/
