---
layout: default
---

<div id="main">

  <!-- Page Title -->
  {% if page.background %}
  <div class="u-sizeFull" style="height: 350px; background-size: cover; background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <div class="u-sizeFull">
  {% endif %}

    <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
      <section class="Grid">
        <div class="Grid-cell u-sizeFull u-md-size2of3 u-lg-size2of3">
          <h1 class="u-text-h1 u-color-{% if page.titles_color %}{{ page.titles_color }}{% else %}black{% endif %}">{{ page.title }}</h1>
          {% if page.img %}
          <div class="page-img-div">
            <img class="page-img" src="{{ page.img | prepend: site.baseurl | replace: '//', '/' }}">
          </div>
          {% endif %}
          {% if page.subtitle %}
          <h3 class="u-text-h3 u-color-{% if page.titles_color %}{{ page.titles_color }}{% else %}black{% endif %}">{{ page.subtitle }}</h3>
          {% endif %}
          {% if page.author %}
          <h3 class="u-text-h3 u-color-{% if page.titles_color %}{{ page.titles_color }}{% else %}black{% endif %}">{{ page.author }}</h3>
          {% endif %}
          {% if page.date %}
          <br>
          <span class="meta u-color-{% if page.titles_color %}{{ page.titles_color }}{% else %}black{% endif %}">{{ page.date | date: '%B %d, %Y' }}</span>
          <br>
          {% endif %}
        </div>
      <section>
    </div>

  </div>

  <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">

    <p class="Prose u-padding-r-top u-padding-r-bottom">
      Cerca la documentazione per titolo, anno o numero
    </p>

    <form class="Form Form--spaced u-padding-r-all" id="docs-search-form" action="." method="get">
      <fieldset class="Form-fieldset">

        <div class="Grid Grid--withGutter u-background-white" role="search">

          <div class="Grid-cell u-size4of4 u-md-size4of4 u-lg-size2of4">
            <div class="Form-field">
              <label class="Form-label" for="titolo">Titolo</label>
              <input data-menu-trigger="titolo-listing" class="Form-input u-text-r-s u-borderRadius-m" id="titolo" name="titolo" autocomplete="off" value="" />

              <div id="titolo-listing" data-menu
                class="Dropdown-menu Header-language-other u-jsVisibilityHidden u-nojsDisplayNone u-size4of4 u-md-size4of4 u-lg-size2of4">
                <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
                <ul class="Linklist">
                  {% assign docs = site.data.docs.docs | sort: 'title' %}
                  {% for doc in docs %}
                  <li>
                    <a href="{{ doc.url }}" class="u-padding-r-all u-textLeft" onclick="">
                      <span>{{ doc.title }}</span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="Grid-cell u-size2of4 u-md-size2of4 u-lg-size1of4">
            <div class="Form-field">
              <label class="Form-label is-required" for="number">Numero</label>
              <input data-menu-trigger="numero-listing" class="Form-input u-text-r-s u-borderRadius-m" id="numero" name="numero">

              <div id="numero-listing" data-menu
                class="Dropdown-menu Header-language-other u-jsVisibilityHidden u-nojsDisplayNone u-size2of4 u-md-size2of4 u-lg-size1of4">
                <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
                <ul class="Linklist">
                  {% assign docs_number = site.data.docs.docs | group_by: 'numero' %}
                  {% for docn in docs_number %}
                  <li>
                    <a href="{{ doc.url }}" class="u-padding-r-all u-textLeft" onclick="">
                      <span>{{ docn.name }}</span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="Grid-cell u-size2of4 u-md-size2of4 u-lg-size1of4">
            <div class="Form-field">
              <label class="Form-label is-required" for="year">Anno</label>
              <select class="Form-input u-text-r-s u-borderRadius-m" id="year" name="anno">
                <option selected disabled>---</option>
                {% assign docs_year = site.data.docs.docs | group_by: 'anno' %}
                {% for docy in docs_year %}
                <option class="u-color-50" value="{{ docy.name }}">{{ docy.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="Form-field Grid-cell u-md-size1of4 u-lg-size1of4 u-textRight">
           <button id="docs-search-btn" type="submit" class="Button Button--default Button--shadow u-text-m u-background-50 u-color-white u-sizeFull">Cerca</button>
          </div>
        </div>
    </fieldset>
    </form>

    <!-- Results' list -->
    <section id="docs-results-list" class="Grid">
    </section>
    <!-- / Results' list -->

    <!-- Linklist -->
    <div class="Grid Grid--withGutter">

      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of2 u-padding-r-all">
        <div class="u-border-top-l u-color-50 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Tema</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Guarda tutta la documentazione per tema
          </p>
          <ul class="Linklist Prose u-text-r-xs">
            {% for tema in site.data.themes %}
            <li><a href="">{{tema.name}}</a></li>
            {% endfor %}
          </ul>
          <p></p>
        </div>
      </div>

      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of2 u-padding-r-all">
        <div class="u-border-top-l u-color-50 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Categoria</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Guarda tutta la documentazione per categoria
          </p>
          <ul class="Linklist Prose u-text-r-xs">
            {% for category in site.data.docs.category %}
            <li><a href="">{{category.name}}</a></li>
            {% endfor %}
          </ul>
          <p></p>
        </div>
      </div>

  </div>
    <!-- / Linklist  -->

    <section class="Grid">
      <div class="Grid-cell u-sizeFull u-md-size3of4 u-lg-size3of4">

        <article class="Prose u-layout-prose">

        {% include pages/content.html %}

        </article>

      </div>

      <!-- Sidebar -->
      <div class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4 u-text-r-s u-padding-r-all">
        <!-- add separator -->
        <div class="u-padding-r-all u-text-r-xxl"></div>

      </div>
      <!-- / Sidebar -->

    </section>
  </div>
</div>

<script>
  window.store = {
    {% for doc in site.data.docs.docs %}
      "{{ doc.url | slugify }}": {
        "title": "{{ doc.title | xml_escape }}",
        "tema": "{{ doc.tema | xml_escape }}",
        "category": "{{ doc.categoria | xml_escape }}",
        "year": {{ doc.anno }},
        "number": {{ doc.numero }},
        "url": "{{ doc.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
