---
layout: default
---

<div id="main">

  <div class="u-sizeFull">
    <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
      <section class="Grid">
        <div class="Grid-cell u-sizeFull">
          <h1 class="u-text-h1 u-color-{% if page.titles_color %}{{ page.titles_color }}{% else %}black{% endif %}">{{ main_title }}</h1>
          {% if page.description %}
          <p class="Prose u-layout-prose">{{ page.description }}</p>
          {% endif %}
        </div>

        {{ content }}

      </section>
    </div>

  </div>

</div>
