---
layout: default
---

<div id="main">

  <!-- Page Title -->
  <div class="u-sizeFull">
    <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
      <section class="Grid">
        <div class="Grid-cell u-sizeFull u-md-size3of4 u-lg-size3of4">
          <h1 class="u-text-h1 u-color-{% if page.titles_color %}{{ page.titles_color }}{% else %}black{% endif %}">{{ page.title }}</h1>
          {% if page.subtitle %}
          <h3 class="u-text-h3 u-color-{% if page.titles_color %}{{ page.titles_color }}{% else %}black{% endif %}">{{ page.subtitle }}</h3>
          {% endif %}
          </div>
        <div class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4 u-text-r-s u-padding-r-all">
          {% include share.html %}
        </div>
      <section>
    </div> <!-- /.u-layout-wide -->
  </div> <!-- /.u-sizeFull -->



  <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
    <section class="Grid">
      <div class="Grid-cell u-sizeFull u-md-size3of4 u-lg-size3of4">

        <article class="Prose u-layout-prose">

          {% capture scheda-description %}{% include {{page.object}}/accordion/description.md %}{% endcapture %}
          {{ scheda-description | markdownify }}

          {% include accordion.html %}

        </article>

      </div>

      <!-- Sidebar -->
      <aside class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4 u-text-r-s u-padding-r-all">

        {% capture theprofile %}{{ page.utenza }}{% endcapture %}
        {% capture theme %}{{ page.tema }}{% endcapture %}
        {% include sidebar.html utenza=theprofile tema=theme %}

      </aside>
      <!-- / Sidebar -->

    </section>
  </div>
</div>
