---
layout: default
---

<div id="main">

  <!-- Page Title -->
  <div class="u-sizeFull">
    <div class="u-layout-wide u-layoutCenter u-text-r-l u-padding-r-top u-margin-r-bottom u-layout-r-withGutter">
      <section class="Grid">
        <div class="Grid-cell u-sizeFull u-md-size3of4 u-lg-size3of4">
          <h1 class="u-text-h1 u-color-{% if site.main_color %}{{ site.main_color }}{% else %}black{% endif %}">{{ page.title }}</h1>
          {% if page.img %}
          <div class="page-img-div">
            <img class="page-img" src="{{ page.img | prepend: site.baseurl | replace: '//', '/' }}">
          </div>
          {% endif %}
          {% if page.subtitle %}
          <h6 class="u-text-h6 u-color-{% if site.main_color %}{{ site.main_color }}{% else %}black{% endif %}">{{ page.subtitle }}</h4>
          {% endif %}
          </div>

          <div class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4 u-text-r-s u-padding-r-all">
              <div id="scheda-icons-div" class="u-textCenter u-sm-hidden">
                <img class="scheda-icona" src="{{ site.baseurl}}{{ site.iconsurl }}cerchio_grigio_{{ page.utenza }}.png">
                <img class="scheda-icona" src="{{ site.baseurl}}{{ site.iconsurl }}cerchio_rosso_{{ page.tema }}.png">
              </div>
          </div>

        <!-- <div class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4 u-text-r-s u-padding-r-all">
          <img class="scheda-icona" src="{{ site.baseurl}}{{ site.iconsurl }}cerchio_grigio_{{ page.utenza }}.png">
          <img class="scheda-icona" src="{{ site.baseurl}}{{ site.iconsurl }}cerchio_rosso_{{ page.tema }}.png">
          <div id="handle-favorite" scheda_title="{{ page.object }}-{{ page.utenza }}" scheda_url="{{ page.url }}">
            <span id="add-scheda-to-favorites-btn"
              class="u-color-50 u-text-r-l Icon Icon-favorite" title="Aggiungi ai preferiti"></span>
            <span id="remove-scheda-from-favorites-btn"
              class="u-color-50 u-text-r-l Icon Icon-cancel" title="Rimuovi dai preferiti"></span>
          </div>
        </div> -->
      <section>
    </div> <!-- /.u-layout-wide -->
  </div> <!-- /.u-sizeFull -->



  <div class="u-layout-wide u-layoutCenter u-text-r-l u-margin-r-bottom u-layout-r-withGutter">
    <section class="Grid">
      <div class="Grid-cell u-sizeFull u-md-size3of4 u-lg-size3of4">

        <article class="Prose u-layout-prose">

          {% capture scheda-description %}{% include schede/{{page.object}}/description/{{page.utenza}}.md %}{% endcapture %}
          {{ scheda-description | markdownify }}

          {% include schede/accordion.html %}

        </article>

      </div>

      <!-- Sidebar -->
      <aside class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4 u-text-r-s u-padding-r-all">

        <div id="handle-favorite" class="u-margin-bottom-l" scheda_title="{{ page.object }}-{{ page.utenza }}" scheda_url="{{ page.url }}">
          <button id="add-scheda-to-favorites-btn" class="Button u-text-xs u-color-50 u-sizeFull">
            Aggiungi ai preferiti
            <!-- <span id="" class="white u-text-r-xxs Icon Icon-favorite" title="Aggiungi ai preferiti"></span> -->
          </button>
          <button id="remove-scheda-from-favorites-btn" class="Button u-text-xs u-color-50 u-sizeFull">
            Rimuovi dai preferiti
            <!-- <span id="" class="white u-text-r-xxs Icon Icon-cancel" title="Rimuovi dai preferiti"></span> -->
          </button>
        </div>

        {% capture theprofile %}{{ page.utenza }}{% endcapture %}
        {% capture theme %}{{ page.tema }}{% endcapture %}
        {% include schede/sidebar.html utenza=theprofile tema=theme %}

        <div id="tue-scelte" role="note" class="Callout Callout--example u-textCenter u-text-r-s u-margin-bottom-xl">
          <p class="u-color-50 u-textWeight-700 u-text-xs" style="margin-bottom: 0px !important;">La tua scelta</p>
          <img class="scheda-icona" src="{{ site.baseurl}}{{ site.iconsurl }}rosso_{{ page.utenza }}.png">
          <img class="scheda-icona" src="{{ site.baseurl}}{{ site.iconsurl }}grigio_{{ page.tema }}.png">

          <div class="Form-field" style="padding-bottom: 0px !important;">
            <a id="research" type="button" href="{{ site.baseurl}}/schede_search" target="_blank" class="Button u-text-xs u-background-50 u-color-white u-sizeFull" style="max-width:15em;">
              Nuova ricerca
            </a>
          </div>
        </div>

        {% include share.html %}

      </aside>
      <!-- / Sidebar -->

    </section>
  </div>
</div>
